<br>

  <div class="content-wrapper">
     <%= render 'shared/jumbotron' %>
    
    <div class="container-fluid">

  
         <!-- code snippet fro banner to show on pages -->
         <br>


        <h1>Welcome to AutoPartner</h1>

                <p>We are a car service company and provide support for all kinds of servicing from DVLA, license renewal, car repair  garage dealership and many more. We are currently a startup and presently trying to make waves in the car industry.</p>
               
                
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            




                
            
    </div>
</div>


        <!-- /#page-content-wrapper -->
